



/* ContactAKI */
  .ContactAKI{width: 100%;clear: both; /* 清除浮動 */text-align: center;}
  .ContactAKI i {font-size: 40px; color: #888;cursor: pointer;}
  .line-icon {width: 40px;height: 40px;}

  .fa-envelope:hover{color: #fff;}
  .fa-whatsapp:hover,.fa-wechat:hover{color: #00B900;}
  .fa-instagram:hover{color: #e8469a;}
  .line-icon:hover > path{fill: #00B900;}
  .fa-facebook:hover{color: rgb(47, 47, 244);}
  .fa-telegram:hover{color: rgb(126, 157, 242);}
  

  .ContactAKI li{list-style-type:none; float: left;margin: 2%;}

  .WechatQR圖 {display: none;position: fixed;top: 33%;left: 33%;z-index: 2; width: 250px;height: 330px;}
  .fa-wechat:hover ~ .WechatQR圖{display: block;}
